body {
    font-family: 'Poppins', sans-serif;
    background-color: #F2F2F2;
    padding-top: 30px;
    max-width: 1000px;
    width: 100%;
    margin-left: 145px;
    margin-right: 129px;
}

header {
    display: flex;
    justify-content: flex-start;
    
}

.logo {
    margin-left: -100px;
    display: flex;
    justify-content: flex-start;
    transform: scale(.8)
    
}

.main-menu {
    display: inline-block;
    /* height: 28px;
    left: 46.43%;
    right: 28.57%;
    top: calc(50% - 28px/2 - 1px); */
     
}

a {
    font-size: 14px;
    margin: 10px;
    color: #2F281E;
    text-decoration: none;
    
}

a:hover {
text-decoration: underline;
}

.btn {
    display: inline-block;
    font-size: 14px;
    margin-left: 20px;
}

.btn_orange {
    display: inline-block;
    background-color: #FF9900;
    border: 0;
    color: #F2F2F2;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px; 
} 

.btn_white {
    display: inline-block;
    background-color:#F2F2F2; 
    border-style: solid; 
    border-width: thin;
    color: #173A56;
    border-radius: 4px;
    border-color: #BCD0E5;
    padding-top: 9.5px;
    padding-bottom: 9.5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 40px;  
    
} 

.top-nav {
    display: flex;
    justify-content: flex-end;
}

h1 {
    font-weight: bold;
    font-size: 40px;
}

.card__one {
    display: flex;
    justify-content: space-between;
}

.card__one__image {
    transform: scale(.8);
}

.card__one__info {
    font-size: 18px;
}

.watch-video {
    font-weight: bold;
    color: #FF9900;
    font-size: 14px;
    margin-left: 20px;
}

.card__one__links {
    display: flex;
    justify-content: flex-start;
}

.card__two__title {
    font-weight: bolder;
    font-size: 32px;
    display: flex;
    justify-content: center;
}

.card__two__content { 
    margin: 30px;
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

h3 {
  font-size: 18px;  
  font-weight: bolder;

}

.card__icon__info {
    font-size: 16px;
    font-weight: normal;

}


.btn__orange__two { 
    display: flex;
    justify-content: center;

}
.card__two__icon {
    margin: 20px;
}

.icon {
    transform: scale(.7);
}

h2 {
    font-weight: bolder;
    font-size: 32px;
}

.check__text {
    font-size: 16px;
    font-weight: normal;
    display: inline-block; 
}

.check__info {
    display: inline-block;
}

i {
    color: #FF9900;
    display: inline-block;
    transform: scale(1.5);
   
}

h4 {
    font-size: 16px;
    font-weight: normal;
}
.footer {
    display: flex;
    justify-content: center;
}
ul {
    list-style-type: none;
}
.input {
    display: flex;
    justify-content: flex-end;  
    margin-bottom: 100px;
    position: relative;
}

